async-generator==1.10
boto3==1.20.10
botocore==1.23.10
Brotli==1.0.9
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
fastapi==0.70.0
Flask==2.0.2
Flask-Compress==1.10.1
great-expectations==0.13.38
matplotlib==3.4.3
matplotlylib==0.1.0
numpy==1.21.2
pandas==1.3.3
pandas-profiling==3.1.0
plotly==5.3.1
scikit-learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
uvicorn==0.15.0
